#contenedor {
width: 1000px;
height: auto;
margin: auto;
position: relative;
}

body{
	background-image: url;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	font-family: Arial;
	color: #B3B3B3;
	margin-left: center;
	font-size: 30px;
	text-align: center;
}
h2{
	font-family: Arial;
	color: #006680;
	margin-left: center;
	font-size: 40px;
	text-align: center;

}
h3{
	font-family: Arial;
	color: #F2B80D;
	margin-left: 20px
	font-size: 25px;
	text-align: center;
}
h5{
	font-family: Arial;
	color: #B3B3B3;
	margin-left: 10px
	font-size: 8px;
	text-align: center;	
}
p{
	font-family: Arial;
	color: black;
	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	text-align: justify;
	margin-left: 10px
	margin-right: 10px;
}

header{

	width: 1000px;
	height: 250px;
	margin: 0px;

}
nav{
	width: 995px;
	height: 70px;
	background: white;
	border: solid;
	border-color: #F2B80D;
	border-radius: 25px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	font-family: Arial;
	font-weight: bolder;
	font-color: #006680
	margin-text: center;
}
li{
	float: left;
	list-style-type: none;
	padding: 10px;
	margin: 4px;
}

a{
	text-decoration: none;
	font-size: 20px;
	color: #333333;
	float: center;
	margin-top: 20px;

}
section{
	width: 600px;
	height: 700px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
aside{
	width: 380px;
	
	background-color: white
	height: 700px;
	float: left;
	text-align: justify;
	margin-left: 20px;
	margin-top: 120px;
	border-radius: 10px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

footer{
	width: 1000px;
	height: 50px;
	background: black;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	margin-bottom: 20px;
}
image{
	border-image: center
	margin justify
}